<script type="text/javascript" src="../javascripts/showingredients.js">
</script>

<table id="ingredients">
	{{#each data}}
	<tr id={{this._id}} class="quantity_{{this.quantity}}">
		<td>{{this.name}}</td>
		<td>{{this.price}}</td>
		<td>
			<input type="number" name="price_{{this._id}}" id="price_{{this._id}}" placeholder="Edit Price" /><br />
			<input type="submit" value="Update Price" onclick="editPrice('{{this._id}}', '{{this.name}}')" />
		</td>
			{{#if this.quantity}}
				<td>{{this.quantity}}</td>
			{{else}}
				<td>Out of Stock</td>
			{{/if}}
		<td>
			<input type="number" name="restock_{{this._id}}" id="restock_{{this._id}}" placeholder="Restock Ingredient" /><br />
			<input type="submit" value="Restock" onclick="restock('{{this._id}}', '{{this.name}}', '{{this.quantity}}')" />
		</td>
	</tr>
	{{/each}}
</table>

<h1>Add An Ingredient</h1>
<input type="text"  placeholder="Name of Ingredient" name="name" id="name" /><br />
<input type="number" placeholder="Price" name="price" step="0.1" id="price" /><br />
<input type="number" placeholder="Quantity" name="quantity" id="quantity" />
<input type="submit" onclick="addIngredient()" />